pywin32==311
psutil~=6.1.1
yara-python
pymem==1.14.0
zstandard~=0.23.0
protobuf~=5.29.3
soupsieve==2.5
lz4~=4.3.3
requests~=2.32.3
xmltodict~=0.14.2
pycryptodome
cryptography
openpyxl==3.1.5
aiofiles~=24.1.0
dateparser~=1.2.1
beautifulsoup4~=4.12.3
typing_extensions~=4.12.2
pysilk-mod==1.6.4
lxml
python-docx
Pillow